<div>
    <button mat-raised-button class="primary" (click)="openAddStationDialog()">
         Add Station
    </button>

    <div *ngIf="stationList.stationList.length === 0">
        No Station Found please add new Station
    </div>
    <mat-accordion *ngIf="stationList.stationList.length > 0">
        <mat-expansion-panel *ngFor="let station of stationList.stationList">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Station #: {{station.uuid}}
                </mat-panel-title>
                <mat-panel-description>
                    <div>
                        Slots: {{station.numberOfSlots}}
                        <span [ngClass]="station.getFreeSlots() === 0 ?'full':'free'">Free Slots:
                            {{station.getFreeSlots()}}</span>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <div>
                    <mat-form-field>
                        <input matInput type="number" [formControl]="numberOfSlots" placeholder="Slots #">
                        <mat-error *ngIf="numberOfSlots.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button mat-raised-button class="primary" (click)="updateSlots(station,numberOfSlots.value)">
                        Update Slots
                    </button>
                </div>
                <div>
                    <h4>{{station.busList.length === 0 ?'No bus found':'Available Buses: '}}</h4>
                    <button mat-raised-button class="primary" (click)="openStationListDialog(station)"
                        [disabled]="station.getFreeSlots() === 0">
                        Add Bus
                    </button>
                </div>
                <div *ngIf="busList.getBusByStationID(station.uuid).length === 0">
                    <p>please goto Station List Page to assign bus to the current station</p>
                </div>
                <div class="bus" *ngIf="busList.getBusByStationID(station.uuid).length > 0">
                    <button mat-raised-button *ngFor="let bus of busList.getBusByStationID(station.uuid)"
                        class="primary">
                        {{bus.plate}}
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>