$primary: #73d700;
.stationForm {
  display: flex;
  flex-direction: column;
  &__inputs {
    display: flex;
    flex-direction: column;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
  }
  .primary {
    background: $primary !important;
    margin: 10px;
    color: #fff !important;
  }
}

*{
  color: #757575;
}
