$primary: #73d700;
.newBus {
  display: flex;
  flex-direction: column;
}
.actions {
  display: flex;
  justify-content: space-between;
}

.primary {
  background: $primary !important;
  margin: 10px;
  color: #fff !important;
}

*{
  color: #757575;
}
