<h1 mat-dialog-title>Add new Bus</h1>
<div mat-dialog-content class="newBus">
    <p>What's your favorite animal?</p>
    <mat-form-field>
        <span matPrefix>BUS-</span>
        <input matInput [formControl]="plateNumber" maxlength="7">
        <mat-error *ngIf="plateNumber.invalid">{{getPlateNumberErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select Bus Type</mat-label>
        <mat-select [formControl]="busType">
            <mat-option value="BusType.Regular">Regular</mat-option>
            <mat-option value="BusType.DoubleDecker">Double Decker</mat-option>
            <mat-option value="BusType.MiniBus">MiniBus</mat-option>
            <mat-option value="BusType.HybridBus">HybridBus</mat-option>
        </mat-select>
        <mat-error *ngIf="busType.invalid">{{getBusTypeErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
    <button mat-stroked-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color='primary' cdkFocusInitial (click)="onNewBusClicked()">Add</button>
</div>